
body{
	margin:0; 
	padding:0; 
	font-family: 'Montserrat', sans-serif;
	color:#FFFFFF;
	text-align: center;
	background-color:#9B59B6;
}

p {
	font-size:6em; 
}

.in1{
	width:100%;
	padding:10px;
	background-color: #8E44AD;
	border:none;
	font-size:6em;
	font-family: 'Montserrat', sans-serif;
	color:#FFFFFF;
	text-align: center; 
	text-transform: uppercase;
}

.in2, .in3, .in4, .im5 .{
	margin:0 auto;
	background-color: #3498DB;
	width:100%;
	padding:10px;
	border:none;
	font-size:6em;
	font-family: 'Montserrat', sans-serif;
	color:#FFFFFF;
	text-align: center; 
	text-transform: uppercase;
}

.in3{
	color:#1ABC9C;
}

.in4{
	color:#2ECC71;
}

.in5{
	color:#e74c3c;
}

.active{
    border-style: solid;
    border-color: #3498DB;
}

.help{
	font-size:4em;
}

.message{
	font-size:4em;
}